In [ ]:
#Code cell - We can write the code in a code cell

This is a text cell which cannot be executed by the compiler and this is for our understanding

In [ ]:
print("@")

@

Print function is used to print something on the output device/screen

In [ ]:
#x=input("give a number")
#print(x)

input function is used to pass any input to the input device

In [ ]:
#Datatypes in Python - Integer, Float,strings,lists,boolean

#Integer

x=3.5
print(int(x))

3

Int function takes only the whole number, and it will round off the decimal value

In [ ]:
#float datatype

x=29
print(float(x))

29.0

Float datatype gives the decimal value

In [ ]:
#Lists - it is used to store multiple items in a single variable.
#It is represented with [] square brackets

list=['pooja', 'kakkad', 1, 2]
print(list)

['pooja', 'kakkad', 1, 2]

In [ ]:
#Strings - Strings store a word under "" or ''

name='python'
print(str(name))

python

In [ ]:
#boolean function writes only true or false as output

a=5
b=4

if a>b:
  print(a)

else:
  print(b)

5

In [ ]:
#Operations on Strings and Lists

#concationation - adding 2 different list

list1=[1,2,3,4]
list2=['pooja', 'kakkad']

#concatination '+'

print(list1+list2)

[1, 2, 3, 4, 'pooja', 'kakkad']

Concatenation '+' symbol will combine both the list and add the values of 2nd list to the 1st list

In [ ]:
#String concatenation - same as dat of list

str1='pooja'
str2="kakkad"

print(str1,'' + str2) #'' is for space

pooja kakkad

In [ ]:
#List Indexing - fetching one number at a time,  giving numbering based on the positions - it can be +ve or -ve from left to right or vice versa respectively

list1[0],list1[3]

(1, 4)

In [ ]:
#String indexing

str1[-2], str2[-6]

('j', 'k')

We can combine positive and negative indexing

In [ ]:
#Slicing - fetching multiple elements at a time.

list1[0:6]

[1, 2, 3, 4]

In [ ]:
str2[-6:5]

'kakka'

In [ ]:
#sum- it adds all the elements of a list

l1=[2,3,4,5,6,7,1,8,9]

sum(l1)

45

In [ ]:
#Built-in Operations on Strings - Append, insert, remove,extend

str1