In [ ]:
#Nested List - List inside a list

L1=[['pooja','loves','icecream'],[1,2,3,4]]

L1[1][3]     #accessing element 3 from list index 1

4

In [ ]:
#adding elements of 2 list

L1[0][:2]+L1[1][:-1]

['pooja', 'loves', 1, 2, 3]

In [ ]:
L=[1,2,3,4]

L.append('pooja')

print(L)

[1, 2, 3, 4, 'pooja']

In [ ]:
L1.append('python')

print(L1)

[['pooja', 'loves', 'icecream'], [1, 2, 3, 4], 'python']

In [ ]:
L.insert(2,'kakkad')
print(L)

[1, 2, 'kakkad', 3, 4, 'pooja']

In [ ]:
#Extend - it adds multiple elements at the end of the list, string etc

L1.extend(['this', 'is','an', 'example'])

print(L1)

[['pooja', 'loves', 'icecream'], [1, 2, 3, 4], 'python', 'this', 'is', 'an', 'example']

In [ ]:
L1.remove('is')

print(L1)

[['pooja', 'loves', 'icecream'], [1, 2, 3, 4], 'python', 'this', 'an', 'example']

In [ ]:
#sum- it adds all the elements of a list

l1=[2,3,4,5,6,7,1,2,8,9]

sum(l1)

47

In [ ]:
max(l1), min(l1)

(9, 1)

It prints the minimum nd maximum value of the list

In [ ]:
#count()

l1.count(2)

2

In [ ]:
l1.count(9)

1

Count function will give the frequency of an element, that means the no. Of times that element is present/repeated in the given list

In [ ]:
#length

len(l1)

10

Length() given the lengths of the list I e., the number of elements in a given list

In [ ]:
#OPERATOTS - +,-,*,/,//,%,**

2+5 #+ operand will add the numbers

7

In [ ]:
2-5 #- operand will subtract the numbers

-3

In [ ]:
2*5 #it is a multiplication operand

10

In [ ]:
5**2 #** operand is the exponent operand, it finds the power of that number

25

In [ ]:
5/2 #it gives the quotient of the operators

2.5

In [ ]:
5//2 #it gives the integer quotient of the numbers

2

In [ ]:
5%2 #percrbtile/modulo operator gives the reminder of the number

1

#Data Structures - are containers which organise and group data according to the type.

#Data structures in python are of 3 types basically

1. Dictionaries - key value pair
2. Tuples - ()
3. Sets - {}

In [ ]:

#Dictionaries - are used to store the element in a key value pair format

l2={'first':'name', 'second':'name','age':20,'year':2023}

print(l2)

{'first': 'name', 'second': 'name', 'age': 20, 'year': 2023}

Slicing is not possible in Dictionary, indexing can be done using keys not the index number. For ex -

In [ ]:
l2['first'] #first is the key nd its value is name

'name'

In [ ]:
l2['name']='pooja'

print(l2)

{'first': 'name', 'second': 'name', 'age': 20, 'year': 2023, 'name': 'pooja'}

Adding a new key value pair is possible I e., append, but slicing is not being supported by Dictionary

We can modify any key value pair and delete also as follows -

In [ ]:
l2['second']='kakkad'

print(l2)

{'first': 'name', 'second': 'kakkad', 'age': 20, 'year': 2023, 'name': 'pooja'}

In [ ]:
del l2['second']

print(l2)

{'first': 'name', 'age': 20, 'year': 2023, 'name': 'pooja'}

Tuples - ()
are same like list but they are unchangeable/immutable - adding, deleting or modifying an element is not possible, but indexing and slicing is possible

In [ ]:
t=('yeh', 'mera', 'India', 1,2)

print(t)

('yeh', 'mera', 'India', 1, 2)

In [ ]:
type(t)

tuple

type() will gives the datatype of the variable

In [ ]:
#Sets - {}

s={1,2,3,6,5,7,2,4,5}

print(s)

{1, 2, 3, 4, 5, 6, 7}

Sets has random inner shuffling quality, it re-orders the numbers sequentially and removes the duplicate/repeated numbers.

In [ ]:
t[-5:4]

('yeh', 'mera', 'India', 1)

Indexing and slicing in Tuple